# Variables SMTP (utilise un SMTP valide)
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=contact@codialis.com
SMTP_PASS=Feurouge974!

# Adresse de réception (peut être identique)
TO_EMAIL=contact@codialis.com

# Port du serveur
PORT=3000
